* {
	box-sizing:border-box;

}
body{
	margin:0px;
}
.raw1{
	border: solid 1px black;
	background-color:#0f1111;
	height:60px;


}
.raw2{
	border: solid 1px black;
	height: 40px;
	background:#0f1111;
}
.col1{
	float:left;
	height:100%;
	width:113px;
	margin:1px;
}
.col2{
	
	float:left;
	height:55px;
	width:88.64px;
	color:#dddddd;
	margin-top:1px;
	padding:7px 9px;
}
.col3{
	
	float:left;
	height:50px;
	width:103px;
	color:gray;
	background:#efefef;
	margin-left:17px;
	margin-top:3px;
	padding-top:15px;
	padding-left:4px;
}
.col4{
	
	float:left;
    	height:50px;
	width:1006px;
	color:gray;
	background:#efefef;
	padding:15px 4px 10px 3px;
	margin-top:3px;
	
	
}
.col5{
	
	float:left;
	height:50px;
	width:45px;
	margin-top:3px;
	padding:10px 4px 10px 3px;
	background:orange;
	

}
.col6{
	
	float:left;
	width:73px;
	height:50px;
	padding:12px 9px 5px;
	margin-top:3px;
	margin-left:18px;
	color:#dddddd;
}
.col7{
	
	float:left;
	width:132px;
	height:50px;
	margin:0px 0px 0px 6px;
	padding:5px 9px 10px;
	margin-top:3px;
	color:#dddddd;
}
.col8{
	
	float:left;
	height:50px;
	width:77px;
	margin:0px 0px 0px 6px;
	padding:5px 9px 10px;
	margin-top:3px;
	color:#dddddd;
}
.col9{
	
	float:left;
	height:50px;
	width:102px;
	margin:0px 15px 0px 6px;
	padding-top:8px;
	margin-top:3px;
	color:#dddddd;
	
}

.raw3{	
	height:320px;
	width:1500px;
	margin-left:auto;
	margin-top:20px;
	margin-right:166px;
}
.col10{
	
    	height:100%;
    	width:58px;
    	margin: 0px 3px 0px 0px;
    	line-height:40px;
    	float:left;
    	color:white;
}
.col11{
	
	height:100%;
	width:124px;
	line-height:40px;
	float:left;
	color:white;
	margin:2px;
}
.col12{
	
	height:100%;
	width:145px;
	line-height:40px;
	float:left;
	color:white;
	margin:2px;
}
.col13{
	
	height:100%;
	width:75px;
	line-height:40px;
	margin-left: 5px 0 6px 0;
	float:left;
	color:white;
	margin:2px;
}
.col14{
	
	height:100%;
	width:87px;
	line-height:40px;
	margin: 5px 0px 6px 0px;
	float:left;
	color:white;
	margin:2px;
}
.col15{
	
	height:100%;
	width:47px;
	line-height:40px;
	float:left;
	color:white;
	margin:2px;
}
.col16{
	
	height:100%;
	width:188px;
	line-height:40px;
	margin: 2px 2px 7px 1px;
	float:right;
	color:white;
}
.raw4{
	height:380px;
	width:1500px;
	margin-left:auto;
	margin-right:auto;
}

.col17{
	
	height:360px;
	width:358px;
	float:left;
}
.col18{
	
	height:360px;
	width:358px;
	float:left;
	margin-left:20px;
	
}  
.col19{
	
	height:360px;
	width:358px;
	float:left;
	margin-left:20px;
	
}  
.col20{
	
	height:360px;
	width:358px;
	float:left;
	margin-left:20px;
	
}
.raw5{
	display:block;
	width:1500px;
	height:265px;
    	margin-left:auto;
    	margin-right:auto
 }  
.raw6{
	border:solid 1px black;
	height:49px;
	width:100%;
	color:#dddddd;
	margin-top:40px;
	padding-left:900px;
	padding-top:15px;
	background:#0f1111;

}
.raw7{
	border:solid 1px black;
	height:500px;
	background:#0f1111;
	width:100%;
}
.a{
	color:#dddddd;
	margin-left:400px;
	float:left;

}
.b{
	color:#dddddd;
	margin-left:100px;
	float:left;

}




















